root = true

[*.cs]
indent_size = 4
indent_style = space
tab_width = 4
# primary constructors
dotnet_diagnostic.IDE0290.severity = none
# collection expressions
dotnet_diagnostic.IDE0301.severity = none
dotnet_diagnostic.IDE0028.severity = none
# compound assignments
dotnet_diagnostic.IDE0054.severity = none
dotnet_diagnostic.IDE0074.severity = none
# switch expressions
dotnet_diagnostic.IDE0066.severity = none
